@import "https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap";
.header {
  -webkit-transition: all 1s;
  transition: all 1s;
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
}
.header.activ {
  position: fixed;
  -webkit-transition: 1;
  transition: 1;
  opacity: 1;
  max-width: 100%;
  background-color: #000000;
  z-index: 9999;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.header .header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.header .header__top .navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__top .navigation .navigation__list li {
  margin-right: 30px;
}
.header .header__top .navigation .navigation__list li a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
  display: block;
  padding: 10px 0;
}
.header .header__top .navigation .navigation__list li a:hover {
  color: #BDAE82;
}
@media (max-width: 768px) {
  .header .header__top .close-mobile {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 66px;
    top: 23px;
    background-image: url("close.6d5c863c.png");
    -o-object-fit: contain;
       object-fit: contain;
    cursor: pointer;
  }
  .header .header__top .close-mobile:hover {
    background-image: url("close-hover.c011c472.png");
  }
  .header .header__top .navigation {
    position: fixed;
    top: 0px;
    right: -100%;
    background: #000000;
    height: 100vh;
    width: 400px;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 999;
  }
  .header .header__top .navigation .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 0 0 50px;
  }
  .header .header__top .navigation .close-navigation {
    display: block;
  }
  .header .header__top .navigation.activ {
    right: 0;
  }
}
@media (max-width: 544px) {
  .header .header__top .navigation {
    width: 100%;
  }
}
.header .header__top .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__top .header__nav .menu-mobile {
  display: none;
  width: 40px;
  height: 50px;
  background-image: url("menu.56d8134b.png");
  background-repeat: no-repeat;
  margin-left: 20px;
  cursor: pointer;
}
.header .header__top .header__nav .switch-theme {
  width: 41px;
  height: 45px;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 20px;
  cursor: pointer;
}
.header .header__top .header__nav .switch-theme.sun {
  background-image: url("sun.d6ba4189.svg");
}
.header .header__top .header__nav .switch-theme.sun:hover {
  background-image: url("sun-hover.1b2fc1cf.svg");
}
.header .header__top .header__nav .switch-theme.moon {
  background-image: url("moon.41b0750d.svg");
}
.header .header__top .header__nav .switch-theme.moon:hover {
  background-image: url("moon-hover.3e3c1da1.svg");
}
@media (max-width: 768px) {
  .header .header__top .header__nav .menu-mobile {
    display: block;
  }
}
.header .header__top .header__nav .menu-mobile:hover {
  background-image: url("menu-hover.e917c97a.png");
}
.header .header__top .switch__language .language__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__top .switch__language .language__list li a, .header .header__top .switch__language .language__list li span {
  color: #fff;
}
.header .header__top .switch__language .language__list li span {
  margin: 0 8px;
}
.header .header__top .switch__language .language__list li a.activ {
  color: #BDAE82;
}
.hero {
  width: 100%;
  height: 800px;
  background-image: url("bg.6c772103.png");
  -o-object-fit: fill;
     object-fit: fill;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero .hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
  width: 100%;
}
.hero .hero__item .hero__description {
  width: inherit;
  padding-left: 5%;
}
.hero .hero__item .hero__description h1 {
  font-family: "Merriweather";
  font-size: 60px;
  margin-bottom: 20px;
}
.hero .hero__item .hero__description p {
  max-width: 470px;
  font-family: "Inter";
  line-height: 40px;
}
.hero .hero__item .hero__description .hero__btn {
  margin-top: 25px;
}
@media (max-width: 768px) {
  .hero {
    height: 650px;
  }
  .hero .hero__item .hero__description p {
    font-size: 18px;
    line-height: 30px;
  }
  .hero .hero__item .hero__description h1 {
    font-size: 40px;
  }
}
.section-skills {
  background-color: #000000;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.section-skills .skills__content {
  padding: 90px 0;
}
.section-skills .skills__content .skills__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 700px;
}
.section-skills .skills__content .skills__title h2 {
  font-family: "Merriweather";
  text-align: center;
  font-size: 40px;
  color: #BDAE82;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.section-skills .skills__content .skills__title .skills-left__underline {
  top: 25px;
  left: 100px;
  background-color: #BDAE82;
  width: 100%;
  height: 2px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.section-skills .skills__content .skills__title .skills-right__underline {
  top: 25px;
  right: 100px;
  width: 100%;
  background-color: #BDAE82;
  height: 2px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.section-skills .skills__content .skills__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.section-skills .skills__content .skills__items .skills__item {
  margin: 10px;
}
.section-skills .skills__content .skills__items .skills__item img {
  margin-bottom: 50px;
}
.section-skills .skills__content .skills__items .skills__item .skills-item__title {
  font-weight: bold;
  margin-bottom: 20px;
}
.section-skills .skills__content .skills__items .skills__item .skills-item_desc {
  line-height: 36px;
}
@media (max-width: 768px) {
  .section-skills .skills__content .skills__title {
    max-width: 365px;
  }
}
@media (max-width: 998px) {
  .section-skills .skills__content .skills__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section-skills .skills__content .skills__items .skills__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
  }
}
.section-portfolio {
  background-color: #000000;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.section-portfolio .portfolio__content {
  padding: 90px 0;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.section-portfolio .portfolio__content .portfolio__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 700px;
}
.section-portfolio .portfolio__content .portfolio__title h2 {
  font-family: "Merriweather";
  text-align: center;
  font-size: 40px;
  color: #BDAE82;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.section-portfolio .portfolio__content .portfolio__title .portfolio-left__underline {
  top: 25px;
  left: 100px;
  background-color: #BDAE82;
  width: 100%;
  height: 2px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.section-portfolio .portfolio__content .portfolio__title .portfolio-right__underline {
  top: 25px;
  right: 100px;
  width: 100%;
  background-color: #BDAE82;
  height: 2px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.section-portfolio .portfolio__content .portfolio__items {
  margin-top: 65px;
}
.section-portfolio .portfolio__content .portfolio__items .portfolio__item .portfolio__nav {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-portfolio .portfolio__content .portfolio__items .portfolio__item .portfolio__nav .button-portfolio {
  margin: 5px;
}
@media (max-width: 768px) {
  .section-portfolio .portfolio__content .portfolio__items .portfolio__item .portfolio__nav .button-portfolio {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 210px;
            flex: 1 1 210px;
    margin: 5px;
  }
}
@media (max-width: 768px) {
  .section-portfolio .portfolio__content .portfolio__items .portfolio__item .portfolio__nav {
    max-width: 440px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.section-portfolio .portfolio__content .portfolio__items .portfolio__item .portfolio__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-portfolio .portfolio__content .portfolio__items .portfolio__item .portfolio__view .portfolio__img {
  width: 440px;
  height: 560px;
  margin: 12px;
}
.section-portfolio .portfolio__content .portfolio__items .portfolio__item .portfolio__view .portfolio__img img {
  width: 100%;
  height: inherit;
  -webkit-transition: all 1s;
  transition: all 1s;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .section-portfolio .portfolio__content .portfolio__title {
    max-width: 365px;
  }
}
.section-video {
  background-color: #000000;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.section-video .video__content {
  padding: 90px 0;
}
.section-video .video__content .video__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 700px;
}
.section-video .video__content .video__title h2 {
  font-family: "Merriweather";
  text-align: center;
  font-size: 40px;
  color: #BDAE82;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.section-video .video__content .video__title .video-left__underline {
  top: 25px;
  left: 100px;
  background-color: #BDAE82;
  width: 100%;
  height: 2px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.section-video .video__content .video__title .video-right__underline {
  top: 25px;
  right: 100px;
  width: 100%;
  background-color: #BDAE82;
  height: 2px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.section-video .video__content .section-video__items {
  margin-top: 60px;
}
.section-video .video__content .section-video__items .video__item {
  position: relative;
}
.section-video .video__content .section-video__items .video__item .player {
  width: 100%;
}
.section-video .video__content .section-video__items .video__item .player__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-size: contain;
  background-image: url("play.37816fdb.png");
  background-repeat: no-repeat;
  cursor: pointer;
}
.section-video .video__content .section-video__items .video__item .player__play:hover {
  background-image: url("play_hover.9b79afd9.png");
}
@media (max-width: 768px) {
  .section-video .video__content .video__title {
    max-width: 365px;
  }
}
.section-price {
  background-color: #000000;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.section-price .price__content {
  padding: 90px 0;
}
.section-price .price__content .price__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
}
.section-price .price__content .price__title h2 {
  font-family: "Merriweather";
  text-align: center;
  font-size: 40px;
  color: #BDAE82;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.section-price .price__content .price__title .price-left__underline {
  top: 25px;
  left: 100px;
  background-color: #BDAE82;
  width: 100%;
  height: 2px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.section-price .price__content .price__title .price-right__underline {
  top: 25px;
  right: 100px;
  width: 100%;
  background-color: #BDAE82;
  height: 2px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.section-price .price__content .price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}
.section-price .price__content .price__items .price__item {
  width: 400px;
  max-width: 400px;
  border: 3px solid #BDAE82;
  padding: 40px 20px;
  margin-bottom: 75px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 5px;
}
.section-price .price__content .price__items .price__item img {
  margin-bottom: 50px;
}
.section-price .price__content .price__items .price__item .price-item__title {
  font-weight: bold;
  margin-bottom: 28px;
  font-family: "Merriweather";
}
.section-price .price__content .price__items .price__item .price-item_cash {
  color: #BDAE82;
  font-weight: bold;
  margin-bottom: 24px;
}
.section-price .price__content .price__items .price__item .price-item_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 36px;
  margin-bottom: 40px;
}
.section-price .price__content .price__items .price__item .price-item_desc span {
  font-size: 18px;
}
@media (max-width: 768px) {
  .section-price .price__content .price__title {
    max-width: 365px;
  }
}
@media (max-width: 998px) {
  .section-price .price__content .price__items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.section-contacts {
  width: 100%;
  height: 700px;
  background-image: url("bg.6c772103.png");
  -o-object-fit: fill;
     object-fit: fill;
  background-repeat: no-repeat;
  background-position: right right;
}
.section-contacts .contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-contacts .contacts__item .contacts__form {
  width: 500px;
  max-width: 500px;
}
.section-contacts .contacts__item .contacts__form .form__title {
  font-family: "Merriweather";
  font-size: 40px;
  color: #BDAE82;
  font-weight: bold;
  margin-bottom: 40px;
}
.section-contacts .contacts__item .contacts__form .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-contacts .contacts__item .contacts__form .forms input, .section-contacts .contacts__item .contacts__form .forms textarea {
  background: #00000052;
  height: 50px;
  border: 2px solid #BDAE82;
  text-indent: 20px;
  color: #BDAE82;
}
.section-contacts .contacts__item .contacts__form .forms input, .section-contacts .contacts__item .contacts__form .forms textarea, .section-contacts .contacts__item .contacts__form .forms button {
  margin: 10px 0;
  resize: none;
}
.section-contacts .contacts__item .contacts__form .forms textarea {
  height: 100px;
  text-indent: 20px;
  padding: 10px 0;
}
.section-contacts .contacts__item .contacts__form .forms input::-webkit-input-placeholder, .section-contacts .contacts__item .contacts__form .forms textarea::-webkit-input-placeholder {
  color: #BDAE82;
  font-family: "Inter";
}
.section-contacts .contacts__item .contacts__form .forms input::-moz-placeholder, .section-contacts .contacts__item .contacts__form .forms textarea::-moz-placeholder {
  color: #BDAE82;
  font-family: "Inter";
}
.section-contacts .contacts__item .contacts__form .forms input:-ms-input-placeholder, .section-contacts .contacts__item .contacts__form .forms textarea:-ms-input-placeholder {
  color: #BDAE82;
  font-family: "Inter";
}
.section-contacts .contacts__item .contacts__form .forms input::-ms-input-placeholder, .section-contacts .contacts__item .contacts__form .forms textarea::-ms-input-placeholder {
  color: #BDAE82;
  font-family: "Inter";
}
.section-contacts .contacts__item .contacts__form .forms input::placeholder, .section-contacts .contacts__item .contacts__form .forms textarea::placeholder {
  color: #BDAE82;
  font-family: "Inter";
}
@media (max-width: 768px) {
  .section-contacts .contacts__item .contacts__form {
    margin: 0 auto;
  }
  .section-contacts .contacts__item .contacts__form .form__title {
    text-align: center;
  }
  .section-contacts .contacts__item .contacts__form .forms {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-contacts .contacts__item .contacts__form .forms input, .section-contacts .contacts__item .contacts__form .forms textarea {
    width: 100%;
  }
}
.footer {
  background-color: #000000;
  padding: 50px 0;
}
.footer .footer__content .footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__content .footer__items .footer__item.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__content .footer__items .footer__item.info p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .footer .footer__content .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__content .footer__items .footer__item {
    margin: 10px 0;
  }
}
html {
  padding: 0;
  margin: 0;
}
html.sun .section-skills {
  background-color: #fff;
  color: #000000;
}
html.sun .section-skills .skills__title .skills-left__underline,
html.sun .section-skills .skills__title .skills-right__underline {
  background-color: #000000;
}
html.sun .section-skills .skills__title h2 {
  color: #000000;
}
html.sun .section-skills .skills__items {
  color: #000000;
}
html.sun .section-portfolio {
  background-color: #fff;
  color: #000000;
}
html.sun .section-portfolio .portfolio__title .portfolio-left__underline,
html.sun .section-portfolio .portfolio__title .portfolio-right__underline {
  background-color: #000000;
}
html.sun .section-portfolio .portfolio__title h2 {
  color: #000000;
}
html.sun .section-portfolio .button-portfolio {
  color: #000000;
}
html.sun .section-portfolio .button-dark.activ {
  color: #fff;
}
html.sun .section-video {
  background-color: #fff;
  color: #000000;
}
html.sun .section-video .video__title .video-left__underline,
html.sun .section-video .video__title .video-right__underline {
  background-color: #000000;
}
html.sun .section-video .video__title h2 {
  color: #000000;
}
html.sun .section-price {
  background-color: #fff;
  color: #000000;
}
html.sun .section-price .price__title .price-left__underline,
html.sun .section-price .price__title .price-right__underline {
  background-color: #000000;
}
html.sun .section-price .price__title h2 {
  color: #000000;
}
html.sun .section-price .price__items {
  color: #000000;
}
html.sun .section-price .button-dark.activ {
  color: #fff;
}
section {
  border: 0;
  outline: none;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
li {
  list-style: none;
}
body {
  font-family: "Inter";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
button {
  border: 0;
  cursor: pointer;
}
.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  padding: 0 20px;
  height: 100%;
}
.button-gold {
  width: 220px;
  height: 55px;
  background: #BDAE82;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  overflow: hidden;
}
.button-dark {
  width: 220px;
  height: 55px;
  background: transparent;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border: 1px solid #BDAE82;
  color: #BDAE82;
}
.button-dark.activ {
  background-color: #BDAE82;
  color: #000000;
}
.button-gold::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-gold::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  width: 100%;
  height: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-gold:hover::before {
  left: 100%;
  background: #333;
}
.button-gold:hover::after {
  right: 100%;
  background: #333;
}
.button-gold:hover, .button-dark:hover {
  color: #fff;
  border-radius: 5px;
}
/*# sourceMappingURL=index.e8265c92.css.map */
